# Python
build
dist
Mini_NDN.egg-info
*.pyc

# Added by Selina
venv
result-csv-files
sample-pcap-files
2020-04-14_network-stats
2020-04-08-all-summaries

# Docs
docs/html
docs/latex
docs/_build

# Misc
.DS_Store
mininet
ndn-src
openflow
.idea

# Vagrant
.vagrant
